<p>The second phase of the competition is the test phase, where participants are invited to develop and test their models on the dataset, focusing on multilingual video reasoning. The test set contains 5,405 question-answer (QA) pairs derived from 525 unique videos across 14 languages. Each video is annotated with both open-ended and multiple-choice questions, covering 7 generic categories and 8 cultural categories.
<br>
<br>
Both the validation and test set of the dataset are availabe here: <a href=https://mbzuaiac-my.sharepoint.com/:f:/g/personal/bhuiyan_shafique_mbzuai_ac_ae/EuXIJ_g5T4pIkKsgQbddTI8BbuhJRNzkd0_i_BlEifGTww?e=kKiQSZ>dataset</a>
</p>

<p>
    A public leaderboard will be available to track participants' performance. Participants can choose whether to make a submission public or private, private submissions will not appear on the leaderboard and are not eligible for the final competition. In order to be eligible for the final competition a submission must be public, and the email field must be filled in with a valid email address.
</p>
