<p>The first phase of the competition is the validation phase, where participants are invited to develop and test their models on the dataset, focusing on multilingual video reasoning. The validation set contains 2,620 question-answer (QA) pairs derived from 354 unique videos across 14 languages. Each video is annotated with both open-ended and multiple-choice questions, covering 7 diverse categories such as Life Record, Sports Competition, Knowledge, etc.
<br>
<br>
Both the validation and test set of the dataset are availabe here: <a href=https://mbzuaiac-my.sharepoint.com/:f:/g/personal/bhuiyan_shafique_mbzuai_ac_ae/EuXIJ_g5T4pIkKsgQbddTI8BbuhJRNzkd0_i_BlEifGTww?e=kKiQSZ>dataset</a>
</p>

<p>
    There will be a public leaderboard for this phase to replicate the setup of the test phase, but the final results of the challenge will be decided solely based on the test phase. When submitting in this phase, you can choose for your results to be displayed in the public leaderboard or keep it private, in which case only you (and the challenge organisers) will have access to the results.
</p>
