<h3>Welcome to the Multilingual Video Reasoning Evaluation Challenge at CVPR 2025!</h3>
<p>😊<a href="https://mbzuaiac-my.sharepoint.com/:f:/g/personal/bhuiyan_shafique_mbzuai_ac_ae/EuXIJ_g5T4pIkKsgQbddTI8BbuhJRNzkd0_i_BlEifGTww?e=kKiQSZ">Dataset</a>|🎉<a href="https://www.crcv.ucf.edu/cvpr2025-vidllms-workshop">Homepage</a></p>

<!-- <div id="countdown">
        <p style="font-family: 'Arial', sans-serif; color: cornflowerblue; display: inline-block; margin: 0;">
          Countdown to Validation Phase:
        </p>
        <div id="timer" style="display: inline-block;"></div>
</div>

<div id="countdown1">
        <p style="font-family: 'Arial', sans-serif; color: cornflowerblue; display: inline-block; margin: 0;">
          Countdown to Test Submission:
        </p>
        <div id="timer1" style="display: inline-block;"></div>
</div>

<script>
        // Set the date we're counting down to
        var countDownDate = new Date("Jun 13, 2024 14:59:59").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {
            // Get today's date and time
            var now = new Date().getTime();

            // Find the distance between now and the count down date
            var distance = countDownDate - now;

            // Time calculations for days, hours, minutes and seconds
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // Output the result in an element with id="timer"
            document.getElementById("timer").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";

            // If the count down is over, write some text
            if (distance < 0) {
                clearInterval(x);
                document.getElementById("timer").innerHTML = "EXPIRED";
            }
        }, 1000);
</script>

<script>
        // Set the date we're counting down to
        var countDownDate1 = new Date("Jun 19, 2024 14:59:59").getTime();

        // Update the count down every 1 second
        var x1 = setInterval(function() {
            // Get today's date and time
            var now1 = new Date().getTime();

            // Find the distance between now and the count down date
            var distance1 = countDownDate1 - now1;

            // Time calculations for days, hours, minutes and seconds
            var days1 = Math.floor(distance1 / (1000 * 60 * 60 * 24));
            var hours1 = Math.floor((distance1 % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes1 = Math.floor((distance1 % (1000 * 60 * 60)) / (1000 * 60));
            var seconds1 = Math.floor((distance1 % (1000 * 60)) / 1000);

            // Output the result in an element with id="timer1"
            document.getElementById("timer1").innerHTML = days1 + "d " + hours1 + "h "
            + minutes1 + "m " + seconds1 + "s ";

            // If the count down is over, write some text
            if (distance1 < 0) {
                clearInterval(x1);
                document.getElementById("timer1").innerHTML = "EXPIRED";
            }
        }, 1000);
</script> -->


<h4>Task</h4>
<p>Multilingual Video Reasoning Evaluation challenge proposes a comprehensive benchmark designed to evaluate the multilingual and culturally grounded reasoning capabilities of Video Large Multimodal Models (Video-LMMs). Going beyond standard benchmarks that typically focus on English and generic video understanding, it enables rigorous testing across a broad linguistic and cultural spectrum by incorporating 14 diverse languages—including several under-represented ones—and 15 real-world domains. The languages involve Arabic, Bengali, Chinese, English, French, German, Hindi, Japanese, Russian, Sinhala, Spanish, Swedish, Tamil and Urdu.</p>

<h4>Dataset</h4>
The validation split consists of 1440 open-ended and 1180 mcq based question-answer (QA) pairs spanning 354 unique videos. As for the test split it consists of 2039 open-ended and 3366 QA pairs, derived from 525 unique videos. In overall, the dataset spans 14 languages with total of 8025 QA pairs from 879 videos, where they belong to 7 generic categories and 8 cultural categories.

<h4>Challenge Phases</h4>
<ol type="1">
    <li>Validation Phase: Participants submit their model predictions on the validation dataset. Participants can choose to make submissions public or private during this phase and the number of submissions are limited to 5 per day and 30 per month.</li>
    <li>Test Phase: Participants submit their model predictions on the test dataset. The final evaluation and ranking will be based on the performance on this split. The top-performing models will be awarded. Submissions are limited to 20 per day and 200 per month.</li>
</ol>

<h4>Competition Rules</h4>
<ol type="1">
  <li>Submissions must be public in the test phase to be considered for the prize.</li>
  <li>Participants need to submit a technical report (PDF file).</li>
  <li>There must be no explicit human labelling on the test videos.</li>
  <li>Test and validation data must not be used for any kind of training (supervised or self-supervised). Any other dataset can be used for training, fine-tuning, or prompting.</li>
  <li>There are no restrictions on the model side; any model is eligible for prizes.</li>
</ol>



<p><strong>For more detailed challenge information, please refer to <a href="https://www.crcv.ucf.edu/cvpr2025-vidllms-workshop">Competition Homepage</a>.</strong></p>

<!-- <p> <strong> Notification ! </strong></p>
<p> If you fail to submit result using the command line, please join our QQ group and send the json file directly to us. Email: 2020302121195@whu.edu.cn</p> -->

<!-- <h4>Dataset Overview</h4>
<p>We introduce V3Det, a vast vocabulary visual detection dataset meticulously crafted to advance the field of general visual object detection. This dataset addresses the challenge of detecting arbitrary objects in real-world scenarios, where traditional object detection datasets are often limited by their relatively restricted vocabulary. </p>

<p>V3Det stands out with its extensive range of features:</p>

<p><strong>Vast Vocabulary:</strong> It encompasses bounding boxes for objects across 13,204 categories in real-world images. This scale is ten times larger than any existing large vocabulary object detection dataset, like LVIS, setting a new benchmark in dataset size and diversity.</p>

<p><strong>Hierarchical Category Organization:</strong> The categories in V3Det are thoughtfully arranged in a hierarchical category tree. This structure not only delineates the inclusion relationships among different categories but also fosters an exploration into the complex interconnections and relationships within vast and open vocabulary object detection scenarios.</p>

<p><strong>Rich Annotations:</strong> The dataset includes 243k images, each precisely annotated with bounding boxes to ensure accurate object identification and localization. Furthermore, V3Det offers professional descriptions for each category, crafted by human experts. This level of detail aids significantly in the interpretation and understanding of the dataset.</p>

<p>V3Det is more than just a dataset; it’s an exploration space that allows for comprehensive benchmarks in both vast and open vocabulary object detection. It’s poised to yield new observations, practices, and insights, thereby contributing to future research in the field. With its expansive scope and detailed annotations, V3Det is uniquely positioned to be a cornerstone dataset for the development of more generalized visual perception systems.</p>
 -->

<!-- <p><strong>For more detailed challenge information, please refer to <a href="https://v3det.openxlab.org.cn/challenge">Competition Homepage</a>.</strong></p> -->
